<!DOCTYPE html>
<html>

<head>
    <title>Disclaimer - Quant Invests</title>
    <style>
        body {
            font-family: 'Fira Sans', sans-serif;
        }

        h1,
        h2 {
            font-family: 'Great Vibes', cursive;
            color: lightgreen;
        }
    </style>
</head>

<body>
    <h1>Disclaimer</h1>
    <p>The information provided on this website does not constitute investment advice, financial advice, trading advice,
        or any other sort of advice and you should not treat any of the website's content as such. Quant Invests does
        not recommend that any cryptocurrency, security, portfolio of securities, transaction, or investment strategy is
        suitable for any specific person.</p>
    <p>Quant Invests urges you to conduct your own due diligence and consult your financial advisor before making any
        investment decisions. We are not responsible for any loss caused by any information provided directly or
        indirectly on this website.</p>
        <div class="back-button">
            <a href="{{ url_for('home') }}">&larr; Back to Home</a>
        </div>
</body>

</html>