<!-- Slideshow container -->
<div class="slideshow-container">
<div class="mySlides fade">
    <div class="numbertext">1 / 70</div>
    <img src="price_chart_AAPL.jpg" style="width:100%">
    <div class="text">Caption 1</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">2 / 70</div>
    <img src="price_chart_AMD.jpg" style="width:100%">
    <div class="text">Caption 2</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">3 / 70</div>
    <img src="price_chart_GDX.jpg" style="width:100%">
    <div class="text">Caption 3</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">4 / 70</div>
    <img src="price_chart_GLD.jpg" style="width:100%">
    <div class="text">Caption 4</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">5 / 70</div>
    <img src="price_chart_GOOG.jpg" style="width:100%">
    <div class="text">Caption 5</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">6 / 70</div>
    <img src="price_chart_ITB.jpg" style="width:100%">
    <div class="text">Caption 6</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">7 / 70</div>
    <img src="price_chart_IWM.jpg" style="width:100%">
    <div class="text">Caption 7</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">8 / 70</div>
    <img src="price_chart_IYT.jpg" style="width:100%">
    <div class="text">Caption 8</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">9 / 70</div>
    <img src="price_chart_KBE.jpg" style="width:100%">
    <div class="text">Caption 9</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">10 / 70</div>
    <img src="price_chart_META.jpg" style="width:100%">
    <div class="text">Caption 10</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">11 / 70</div>
    <img src="price_chart_MSFT.jpg" style="width:100%">
    <div class="text">Caption 11</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">12 / 70</div>
    <img src="price_chart_NVDA.jpg" style="width:100%">
    <div class="text">Caption 12</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">13 / 70</div>
    <img src="price_chart_QQQ.jpg" style="width:100%">
    <div class="text">Caption 13</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">14 / 70</div>
    <img src="price_chart_RWR.jpg" style="width:100%">
    <div class="text">Caption 14</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">15 / 70</div>
    <img src="price_chart_SLV.jpg" style="width:100%">
    <div class="text">Caption 15</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">16 / 70</div>
    <img src="price_chart_SOXX.jpg" style="width:100%">
    <div class="text">Caption 16</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">17 / 70</div>
    <img src="price_chart_SPY.jpg" style="width:100%">
    <div class="text">Caption 17</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">18 / 70</div>
    <img src="price_chart_TLT.jpg" style="width:100%">
    <div class="text">Caption 18</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">19 / 70</div>
    <img src="price_chart_TSLA.jpg" style="width:100%">
    <div class="text">Caption 19</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">20 / 70</div>
    <img src="price_chart_USO.jpg" style="width:100%">
    <div class="text">Caption 20</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">21 / 70</div>
    <img src="price_chart_UUP.jpg" style="width:100%">
    <div class="text">Caption 21</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">22 / 70</div>
    <img src="price_chart_VXX.jpg" style="width:100%">
    <div class="text">Caption 22</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">23 / 70</div>
    <img src="price_chart_XBI.jpg" style="width:100%">
    <div class="text">Caption 23</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">24 / 70</div>
    <img src="price_chart_XHB.jpg" style="width:100%">
    <div class="text">Caption 24</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">25 / 70</div>
    <img src="price_chart_XLB.jpg" style="width:100%">
    <div class="text">Caption 25</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">26 / 70</div>
    <img src="price_chart_XLC.jpg" style="width:100%">
    <div class="text">Caption 26</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">27 / 70</div>
    <img src="price_chart_XLE.jpg" style="width:100%">
    <div class="text">Caption 27</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">28 / 70</div>
    <img src="price_chart_XLF.jpg" style="width:100%">
    <div class="text">Caption 28</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">29 / 70</div>
    <img src="price_chart_XLI.jpg" style="width:100%">
    <div class="text">Caption 29</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">30 / 70</div>
    <img src="price_chart_XLK.jpg" style="width:100%">
    <div class="text">Caption 30</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">31 / 70</div>
    <img src="price_chart_XLP.jpg" style="width:100%">
    <div class="text">Caption 31</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">32 / 70</div>
    <img src="price_chart_XLU.jpg" style="width:100%">
    <div class="text">Caption 32</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">33 / 70</div>
    <img src="price_chart_XLV.jpg" style="width:100%">
    <div class="text">Caption 33</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">34 / 70</div>
    <img src="price_chart_XLY.jpg" style="width:100%">
    <div class="text">Caption 34</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">35 / 70</div>
    <img src="price_chart_XRT.jpg" style="width:100%">
    <div class="text">Caption 35</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">36 / 70</div>
    <img src="trending_chart_AAPL.jpg" style="width:100%">
    <div class="text">Caption 36</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">37 / 70</div>
    <img src="trending_chart_AMD.jpg" style="width:100%">
    <div class="text">Caption 37</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">38 / 70</div>
    <img src="trending_chart_GDX.jpg" style="width:100%">
    <div class="text">Caption 38</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">39 / 70</div>
    <img src="trending_chart_GLD.jpg" style="width:100%">
    <div class="text">Caption 39</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">40 / 70</div>
    <img src="trending_chart_GOOG.jpg" style="width:100%">
    <div class="text">Caption 40</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">41 / 70</div>
    <img src="trending_chart_ITB.jpg" style="width:100%">
    <div class="text">Caption 41</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">42 / 70</div>
    <img src="trending_chart_IWM.jpg" style="width:100%">
    <div class="text">Caption 42</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">43 / 70</div>
    <img src="trending_chart_IYT.jpg" style="width:100%">
    <div class="text">Caption 43</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">44 / 70</div>
    <img src="trending_chart_KBE.jpg" style="width:100%">
    <div class="text">Caption 44</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">45 / 70</div>
    <img src="trending_chart_META.jpg" style="width:100%">
    <div class="text">Caption 45</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">46 / 70</div>
    <img src="trending_chart_MSFT.jpg" style="width:100%">
    <div class="text">Caption 46</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">47 / 70</div>
    <img src="trending_chart_NVDA.jpg" style="width:100%">
    <div class="text">Caption 47</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">48 / 70</div>
    <img src="trending_chart_QQQ.jpg" style="width:100%">
    <div class="text">Caption 48</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">49 / 70</div>
    <img src="trending_chart_RWR.jpg" style="width:100%">
    <div class="text">Caption 49</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">50 / 70</div>
    <img src="trending_chart_SLV.jpg" style="width:100%">
    <div class="text">Caption 50</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">51 / 70</div>
    <img src="trending_chart_SOXX.jpg" style="width:100%">
    <div class="text">Caption 51</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">52 / 70</div>
    <img src="trending_chart_SPY.jpg" style="width:100%">
    <div class="text">Caption 52</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">53 / 70</div>
    <img src="trending_chart_TLT.jpg" style="width:100%">
    <div class="text">Caption 53</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">54 / 70</div>
    <img src="trending_chart_TSLA.jpg" style="width:100%">
    <div class="text">Caption 54</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">55 / 70</div>
    <img src="trending_chart_USO.jpg" style="width:100%">
    <div class="text">Caption 55</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">56 / 70</div>
    <img src="trending_chart_UUP.jpg" style="width:100%">
    <div class="text">Caption 56</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">57 / 70</div>
    <img src="trending_chart_VXX.jpg" style="width:100%">
    <div class="text">Caption 57</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">58 / 70</div>
    <img src="trending_chart_XBI.jpg" style="width:100%">
    <div class="text">Caption 58</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">59 / 70</div>
    <img src="trending_chart_XHB.jpg" style="width:100%">
    <div class="text">Caption 59</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">60 / 70</div>
    <img src="trending_chart_XLB.jpg" style="width:100%">
    <div class="text">Caption 60</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">61 / 70</div>
    <img src="trending_chart_XLC.jpg" style="width:100%">
    <div class="text">Caption 61</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">62 / 70</div>
    <img src="trending_chart_XLE.jpg" style="width:100%">
    <div class="text">Caption 62</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">63 / 70</div>
    <img src="trending_chart_XLF.jpg" style="width:100%">
    <div class="text">Caption 63</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">64 / 70</div>
    <img src="trending_chart_XLI.jpg" style="width:100%">
    <div class="text">Caption 64</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">65 / 70</div>
    <img src="trending_chart_XLK.jpg" style="width:100%">
    <div class="text">Caption 65</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">66 / 70</div>
    <img src="trending_chart_XLP.jpg" style="width:100%">
    <div class="text">Caption 66</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">67 / 70</div>
    <img src="trending_chart_XLU.jpg" style="width:100%">
    <div class="text">Caption 67</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">68 / 70</div>
    <img src="trending_chart_XLV.jpg" style="width:100%">
    <div class="text">Caption 68</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">69 / 70</div>
    <img src="trending_chart_XLY.jpg" style="width:100%">
    <div class="text">Caption 69</div>
</div>


<div class="mySlides fade">
    <div class="numbertext">70 / 70</div>
    <img src="trending_chart_XRT.jpg" style="width:100%">
    <div class="text">Caption 70</div>
</div>

<span class="dot" onclick="currentSlide(1)"></span>
<span class="dot" onclick="currentSlide(2)"></span>
<span class="dot" onclick="currentSlide(3)"></span>
<span class="dot" onclick="currentSlide(4)"></span>
<span class="dot" onclick="currentSlide(5)"></span>
<span class="dot" onclick="currentSlide(6)"></span>
<span class="dot" onclick="currentSlide(7)"></span>
<span class="dot" onclick="currentSlide(8)"></span>
<span class="dot" onclick="currentSlide(9)"></span>
<span class="dot" onclick="currentSlide(10)"></span>
<span class="dot" onclick="currentSlide(11)"></span>
<span class="dot" onclick="currentSlide(12)"></span>
<span class="dot" onclick="currentSlide(13)"></span>
<span class="dot" onclick="currentSlide(14)"></span>
<span class="dot" onclick="currentSlide(15)"></span>
<span class="dot" onclick="currentSlide(16)"></span>
<span class="dot" onclick="currentSlide(17)"></span>
<span class="dot" onclick="currentSlide(18)"></span>
<span class="dot" onclick="currentSlide(19)"></span>
<span class="dot" onclick="currentSlide(20)"></span>
<span class="dot" onclick="currentSlide(21)"></span>
<span class="dot" onclick="currentSlide(22)"></span>
<span class="dot" onclick="currentSlide(23)"></span>
<span class="dot" onclick="currentSlide(24)"></span>
<span class="dot" onclick="currentSlide(25)"></span>
<span class="dot" onclick="currentSlide(26)"></span>
<span class="dot" onclick="currentSlide(27)"></span>
<span class="dot" onclick="currentSlide(28)"></span>
<span class="dot" onclick="currentSlide(29)"></span>
<span class="dot" onclick="currentSlide(30)"></span>
<span class="dot" onclick="currentSlide(31)"></span>
<span class="dot" onclick="currentSlide(32)"></span>
<span class="dot" onclick="currentSlide(33)"></span>
<span class="dot" onclick="currentSlide(34)"></span>
<span class="dot" onclick="currentSlide(35)"></span>
<span class="dot" onclick="currentSlide(36)"></span>
<span class="dot" onclick="currentSlide(37)"></span>
<span class="dot" onclick="currentSlide(38)"></span>
<span class="dot" onclick="currentSlide(39)"></span>
<span class="dot" onclick="currentSlide(40)"></span>
<span class="dot" onclick="currentSlide(41)"></span>
<span class="dot" onclick="currentSlide(42)"></span>
<span class="dot" onclick="currentSlide(43)"></span>
<span class="dot" onclick="currentSlide(44)"></span>
<span class="dot" onclick="currentSlide(45)"></span>
<span class="dot" onclick="currentSlide(46)"></span>
<span class="dot" onclick="currentSlide(47)"></span>
<span class="dot" onclick="currentSlide(48)"></span>
<span class="dot" onclick="currentSlide(49)"></span>
<span class="dot" onclick="currentSlide(50)"></span>
<span class="dot" onclick="currentSlide(51)"></span>
<span class="dot" onclick="currentSlide(52)"></span>
<span class="dot" onclick="currentSlide(53)"></span>
<span class="dot" onclick="currentSlide(54)"></span>
<span class="dot" onclick="currentSlide(55)"></span>
<span class="dot" onclick="currentSlide(56)"></span>
<span class="dot" onclick="currentSlide(57)"></span>
<span class="dot" onclick="currentSlide(58)"></span>
<span class="dot" onclick="currentSlide(59)"></span>
<span class="dot" onclick="currentSlide(60)"></span>
<span class="dot" onclick="currentSlide(61)"></span>
<span class="dot" onclick="currentSlide(62)"></span>
<span class="dot" onclick="currentSlide(63)"></span>
<span class="dot" onclick="currentSlide(64)"></span>
<span class="dot" onclick="currentSlide(65)"></span>
<span class="dot" onclick="currentSlide(66)"></span>
<span class="dot" onclick="currentSlide(67)"></span>
<span class="dot" onclick="currentSlide(68)"></span>
<span class="dot" onclick="currentSlide(69)"></span>
<span class="dot" onclick="currentSlide(70)"></span>


    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
</div>